/*                                        *\
    Author: Hiago Patrick (azebeni)
    Github: /hiagoptk

 You can get inspired, just don't copy it 
 all the way trhough, please ^-^' 
\*                                         */

/*         CONFIGURAÇÕES GERAIS            */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #f0f0f5;
    background-color: #141414;
}

a {
    text-decoration: none;
    color: #f0f0f5;
}

a:hover {
    color: aquamarine;
}

h1 {
    font-family: 'Righteous', cursive;
} 

h2, h3, h4, h5, h6, p {
    font-family: 'Nunito', sans-serif;
}

.box {
    border-radius: 5px;
    border-left: solid rgb(255, 196, 2) 3px; 
    padding: 15px;
}


/*                  HEADER                 */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
    width: 100%;
    padding: 0 30px 0 15px;
    background-color: black;
    border-bottom: rgb(255, 196, 0) 1px solid;
}

#dropbtn {
    display: none;
}

#nav {
    list-style: none;
    display: flex;
}

#nav li {
    margin: 10px;
    padding: 10px;
}



/*             WELCOME            */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding: 300px;
    font-size: 25px;
    text-align: center;
}


@media (max-width: 720px){
    #welcome-section {
        padding: 10px;
        font-size: 20px;        
    }
}

/* ----  ABOUT  ----*/
#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    min-width: 70%;
    height: 100vh;   
}

#profile {
    width: 30%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#profileImg {
    max-width: 320px;
    padding: 8px;
    margin-left: 10px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;

}

#sep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 60%;
    
}


#intro {
    width: 100%;
    margin-bottom: 20px ;
}

#curiosidades, #habilidades {
    width: 50%;   
}

@media (max-width: 720px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: auto;
    }
    #profile {
        width: 80%;
        height: auto;

        margin-bottom: 20px;
    }

    #sep {
        width: 80%;
        
    }

    #intro, #habilidades {
        width: 100%;
        margin-bottom: 20px;
        border-left: none;
        border-right: solid rgb(255, 196, 2) 3px; ;
    }
    #curiosidades {
        width: 100%;
        margin-bottom: 20px;
    }
}

.barraNivel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraGroup {
    width: 90%;
    height: 20px;
    margin: 17px 0;

}

.txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

}

.barra {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background-color: black;
 
}

.bolinha {
    width: 10px;
    height: 10px;
    color: rgb(255, 217, 0);
}

#introvert {
    padding-left: 38%;
}

#individual {
    padding-left: 50%;
}

#noturno {
    padding-left: 75%;
}

#informal {
    padding-left: 80%;
}

#renew{
    padding-left: 89%;
}

#html {
    padding-left: 55%;
}

#css {
    padding-left: 55%;
}

#javascript {
    padding-left: 65%;
}

#reactjs {
    padding-left: 35%;
}

#uxdesign {
    padding-left: 40%;
}



/*              PROJETOS             */
#project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 25px;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
}

.proj {
    max-width: 45%;
    margin: 20px;
    padding: 10px;
    border-left: solid rgba(255, 209, 4, 0.918) 5px;
    border-radius: 5px;
    background-color: rgba(247, 223, 10, 0.267);


    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProj {
    max-width: 95%;
    border-radius: 3px;
    margin-bottom: 15px;
}

.projectBtn {
    display: flex;
    font-size: xx-large;    
    padding: 0 40px;
    margin: 5px 0;
}

.projectBtn i {
    margin: 5px 50px;
}


@media (max-width: 720px) {
    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proj {
        max-width: 100%;   
    }

}